
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Avenir;
  font-weight: lighter;
  src: url("../public/assets/fonts/Circular-Std-Extra-Light.ttf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 200;
  src: url("../public/assets/fonts/PlusJakartaSans-Light.ttf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 300;
  src: url("../public/assets/fonts/PlusJakartaSans-Light.ttf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 350;
  src: url("../public/assets/fonts/CircularStd-Book.ttf") format("opentype");
}
@font-face {
  font-family: Circular;
  font-weight: 450;
  src: url("../public/assets/fonts/PlusJakartaSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: normal;
  src: url("../public/assets/fonts/DMSans-Medium.ttf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 500;
  src: url("../public/assets/fonts/circular-std-medium-500.ttf") format("opentype");
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  src: url("../public/assets/fonts/DMSans-Medium.ttf") format("opentype");
}

@font-face {
  font-family: Avenir;
  font-weight: bold;
  src: url("../public/assets/fonts/circular-std-medium-500.ttf") format("opentype");
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  src: url("../public/assets/fonts/circular-std-medium-500.ttf") format("opentype");
}
@layer base {
  html {
    @apply overflow-x-hidden overscroll-y-auto;
  }
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
  object-fit: cover;
  /* border: red 1px solid; */
}
.swiper-slide{
  background-color: transparent !important;
} .swiper-slide-active{
  background-color: transparent !important;
}
.swiper-wrapper{
  background-color: transparent !important;
}

.swiper-slide {
  width: 80%;
 
}
.swiper-slide:first-child {
    width: 80%;
  }
  .swiper-slide:nth-child(1n) {
    width: 80%;
  }
.swiper-slide:nth-child(2n) {
  width: 80%;
}

.swiper-slide:nth-child(3n) {
  width: 80%;
}


.swiper-pagination-clickable {}
.swiper-pagination-bullets {}
.swiper-pagination-horizontal{}

.swiper-pagination {
bottom: 10px!important;
}

.swiper-pagination-bullet{
background-color: white !important;
padding: 10px !important;
opacity: 1 !important;
} 
.swiper-pagination-bullet-active{
padding-left: 14px !important;
padding-right: 14px !important;
width: 40px !important;
border-radius: 10px !important;
}